.company-header {
    position: relative;
    width: 100%;
}

.cover-image {
    width: 100%;
}

.introduction {
    background-image: url("images/background image.png");
    padding-bottom: 4%;
}

.profile-picture {
    float: right;
    margin-left: 2%;
    margin-right: 3%;
    width: 35%;
}

.introduction-heading {
    color: #F5EFE6;
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: 400;
    padding-top: 3%;
    margin-left: 2%;
    text-shadow: 0px 0px 10px #F5EFE6;
}

.introduction-paragraph {
    color: #F5EFE6;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    line-height: 2.2;
    margin-left: 2%;
    text-shadow: 0px 0px 10px #F5EFE6;
    width: 95%;
}

.company-slogan {
    color: #FFA559;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 0px 0px 10px #FFA559;
}

.previews-heading {
    background-color: #3C4048;
    font-family: 'Montserrat', sans-serif;
    color: #F5EFE6;
    font-weight: 400;
    font-size: 6rem;
    margin-bottom: 0;
    padding-bottom: 4%;
    padding-top: 5%;
    text-align: center;
    text-decoration: underline;
    text-shadow: 0px 0px 12px #FFA559;
}

.row {
    background-color: #3C4048;
    margin: auto;
}

.column-2 {
    float: left;
    margin: auto;
    padding: 1%;
    width: 48.5%;
  }

.column-3 {
    float: left;
    margin: auto;
    padding: 1%;
    width: 33%;
  }

.photo {
    box-shadow: 0px 0px 12px #F5EFE6;
}  

.contact-me {
    background-image: url("images/background image.png");
    padding-bottom: 4%;
    text-align: center;
} 

.contact-me-heading {
    font-family: 'Montserrat', sans-serif;
    color: #F5EFE6;
    font-weight: 400;
    font-size: 6rem;
    padding-bottom: 2%;
    padding-top: 3%;
    position: relative;
    text-decoration: underline;
    text-shadow: 0px 0px 12px #FFA559;
}

.contact-me-name {
    font-family: 'Montserrat', sans-serif;
    color: #F5EFE6;
    font-size: 2.5rem;
    font-weight: lighter;
    text-shadow: 0px 0px 10px #F5EFE6;
}

.contact-me-number {
    font-family: 'Montserrat', sans-serif;
    color: #F5EFE6;
    font-size: 2.5rem;
    font-weight: lighter;
    text-shadow: 0px 0px 10px #F5EFE6;
}

.btn {
    background: #3C4048;
    background-image: -webkit-linear-gradient(top, #3C4048, #F5EFE6);
    background-image: -moz-linear-gradient(top, #3C4048, #F5EFE6);
    background-image: -ms-linear-gradient(top, #3C4048, #F5EFE6);
    background-image: -o-linear-gradient(top, #3C4048, #F5EFE6);
    background-image: linear-gradient(to bottom, #3C4048, #F5EFE6);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    text-shadow: 1px 1px 3px #666666;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 0px 16px #F5EFE6;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    border: solid #F5EFE6 2px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #F5EFE6;
    background-image: -webkit-linear-gradient(top, #F5EFE6, #3C4048);
    background-image: -moz-linear-gradient(top, #F5EFE6, #3C4048);
    background-image: -ms-linear-gradient(top, #F5EFE6, #3C4048);
    background-image: -o-linear-gradient(top, #F5EFE6, #3C4048);
    background-image: linear-gradient(to bottom, #F5EFE6, #3C4048);
    text-decoration: none;
}

.footer-container {
    background-image: linear-gradient(#F6C391, white, #F6C391);
    padding-top: 2%;
    padding-bottom: 1%;
    text-align: center;
    } 

.footer-logo {
    width: 10%;
}    

.copyright {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color: #3C4048;
}






@media (max-width: 1080px) {

    .cover-image {
        position: relative;
        width: 100%;
    }

    .profile-picture {
        float: right;
        width: 45%;
        margin-left: 0;
        margin-top: 2%;
    }

    .introduction {
        padding-bottom: 5%;
    }

    .introduction-heading {
        font-size: 5rem;
        margin-left: 5%;
        padding-top: 5%;
    }

    .introduction-paragraph {
        font-size: 3rem;
        line-height: 1.5;
        margin-left: 5%;
        width: 90%;
    }

    .contact-me {
        padding-bottom: 7%;
        padding-top: 2%;
    }

    .contact-me-name {
        font-size: 3rem;
    }

    .contact-me-number {
        font-size: 2rem;
    }

    .footer-logo {
        width: 20%;
    }

    .copyright {
        font-size: 2rem;
    }

}